<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="COURSE DETAILS">
<ion-content>

<div class="bgcolorwhitesmoke">
<p class="individualcoursestitle">COURSE DETAILS</p>
<div class="buttons item-button-right">
<p class="boldtext padding">{{course.name}}</p>
<button class="button button-balanced " ng-click="AddToCart()">Add to Cart</button>
</div>
</br>
<div class="row">
<div class="col coursedata">
	<img ng-src="{{course.stars | linkstars }}">
</div>
<div class="col coursedata">Hrs:  <span class="boldtext" ng-bind="course.hours"></span></div>
<div class="col centered coursedata"><img ng-src="{{course.type|linktype}}">
</div>
<div class="col coursedata">Price:  <span class="boldtext">${{course.price}}</span></div>
</div>
</br>
</div>
<div class="padding" ng-bind-html="course.description | sanitize">
</div>
</ion-content>
</ion-view>
