  <ion-view title="Home">
  <ion-nav-bar>
        <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-plus" ng-click="openModal()"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>        
          <ion-tabs class="tabs-positive">
            <ion-tab title="SIGN IN">
              <ion-content class="has-header">
              <h4>SIGN IN</h4>
          <ion-list>
            <ion-item ng-repeat="stooge in stooges" href="#/{{stooge.name}}">{{stooge.name}}</ion-item>
          </ion-list>
                </ion-content>
              </ion-tab>
            <ion-tab title="REGISTER">
              <ion-content class="has-header">
              <h2>Register section In Construction</h2>
                </ion-content>
              </ion-tab>
            </ion-tabs>
            </ion-nav-bar>
      </ion-view>