<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-top tabs-icon-top tabs-color-active-positive">
  
  <!-- onlinecourses Tab -->
  <ion-tab title="Online Courses" icon-off="ion-android-desktop" icon-on="ion-android-desktop" href="#/tab/onlinecourses">
    <ion-nav-view name="tab-onlinecourses"></ion-nav-view>
  </ion-tab>

  <!-- Correspondence Tab -->
  <ion-tab title="Correspondence" icon-off="ion-android-mail" icon-on="ion-android-drafts" href="#/tab/correspondence">
    <ion-nav-view name="tab-correspondence"></ion-nav-view>
  </ion-tab>

  <!-- Licensing Tab -->
  <ion-tab title="Licensing Info" icon-off="ion-information-circled" icon-on="ion-information-circled" href="#/tab/licensinginfo">
    <ion-nav-view name="tab-licensinginfo"></ion-nav-view>
  </ion-tab>


</ion-tabs>
